@model VNTravel.Models.Voucher

@{
    ViewBag.Title = "DetailVoucher";
    Layout = "~/Views/Shared/_LayoutNV.cshtml";
}

<h2>DetailVoucher</h2>

<div>
    <h4>Voucher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_voucher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_voucher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voucher_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voucher_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voucher_percent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voucher_percent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiredDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Voucher", "EditVoucher", new {  id=Model.ID_voucher  }) |
    @Html.ActionLink("Back to List", "ListVoucher", "Admin")
</p>
