@model IEnumerable<VNTravel.Models.TravelService>

@{
    ViewBag.Title = "ManageService";
    Layout = "~/Views/Shared/_LayoutNV.cshtml";
}
<div class="main-panel" style="width:100%">
    <div class="content-wrapper">
        <div class="row">
            <div class="card card-rounded">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                            <h4 class="card-title card-title-dash">List Service</h4>
                            <p class="card-subtitle card-subtitle-dash">For Comfortable and convenient hotel</p>

                        </div>
                        @*<div>
                                <button onclick="location.href='@Url.Action("themdoitac", "admin")';" class="btn btn-info btn-fw text-white mb-0 me-0" type="button"><i class="mdi mdi-account-plus"></i> Add new member</button>
                            </div>*@
                    </div>
                    <form class="row" action="~/admin/quanlydoitac">
                        <i class="mb-2 icon-search"></i>
                        <div class="col-10">
                            <input type="text"
                                   class="form-control "
                                   id="search"
                                   name="search"
                                   placeholder="Search..."
                                   value="@ViewBag.Search" />
                        </div>
                        <div class="col-2">
                            <button class="nav-link btn btn-info btn-fw" type="submit">
                                Tìm Kiếm
                            </button>
                        </div>

                        <div id="defaultFormControlHelp" class="form-text">
                            <h4 class="text-danger p-1">@ViewBag.Error</h4>
                            Vui lòng nhậm thông tin chính xác
                        </div>
                    </form>

                    <div class="table-responsive  mt-1">
                        <table class="table select-table">
                            <thead>
                                <tr>
                                    <th class="col-2">
                                        Service ID
                                    </th>
                                    <th class="col-3">Company and Service name</th>
                                    <th class="col-3">Service type and Price room</th>
                                    <th class="col-3">...</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            Service_ID @item.ID_service
                                        </td>
                                        <td>
                                            <div class="d-flex ">
                                                <img src="" alt="logo">
                                                <div>
                                                    <h6>@item.Accompany.Accompany_name</h6>
                                                    <p>@item.ServiceType.Service_type_name</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h6>@item.serviceName</h6>
                                            <p>@item.ServiceType.Price.price1 vnđ</p>
                                        </td>
                                        <td>
                                            <button id="" type="button" class="btn btn-outline-info btn-fw">Đặt Dịch Vụ</button>
                                            @if (item.Service_Status == 0)
                                            {
                                                <button onclick="location.href='@Url.Action("ServiceApproved", "Admin", new {@ID=item.ID_service})';" type="button" class="btn btn-info">Duyệt</button>
                                            }
                                            else if (item.Service_Status == 1)
                                            {
                                                <button onclick="location.href='@Url.Action("ServiceHidden", "Admin", new {@ID=item.ID_service})';" type="button" class="btn btn-secondary">Ẩn</button>
                                            }
                                            else if (item.Service_Status == 2)
                                            {
                                                <button onclick="location.href='@Url.Action("ServiceApproved", "Admin", new {@ID=item.ID_service})';" type="button" class="btn btn-warning">Hiện</button>
                                            }
                                            @*onclick="location.href='@Url.Action("", "")';"*@
                                        </td> 
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
        </div>
    </footer>
    <!-- partial -->
    
</div>
